
*.xcuserstate



frontEnd/here_ios/here_ios.xcodeproj/project.xcworkspace/xcuserdata/wangjam.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcbkptlist

*.xcbkptlist

*.xcbkptlist

backEnd/here_dev/npm-debug.log

frontEnd/here_ios/Pods/Pods.xcodeproj/xcuserdata/wangjam.xcuserdatad/xcschemes/xcschememanagement.plist

frontEnd/here_ios/Pods/Pods.xcodeproj/xcuserdata/wangjam.xcuserdatad/xcschemes/xcschememanagement.plist
