<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>message</title>
    <meta name="author" content="User" />
    <!-- Date: 2014-09-12 -->


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://v3.bootcss.com/examples/signin/signin.css">

    <script>
    // $(function() {
    //     console.log("client connect");
    //     var iosocket = io.connect("http://localhost:10666/");

    //     iosocket.on('connect', function() {
    //         $('#incomingChatMessages').append($('<li>Connected</li>'));

    //         iosocket.on('message', function(message) {
    //             console.log(message);
    //             $('#incomingChatMessages').append($('<li></li>').text(message));
    //         });
    //         iosocket.on('disconnect', function() {
    //             $('#incomingChatMessages').append('<li>Disconnected</li>');
    //         });
    //     });

    //     $('#outgoingChatMessage').keypress(function(event) {
    //         console.log("keypress");
    //         if (event.which == 13) {
    //             event.preventDefault();
    //             iosocket.send($('#outgoingChatMessage').val());
    //             $('#incomingChatMessages').append($('<li></li>').text($('#outgoingChatMessage').val()));
    //             $('#outgoingChatMessage').val('');
    //         }
    //     });
    // });

    
    
    </script>

    <style type="text/css">
    .childBody {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    </style>


</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navFontSize">
                <a class="navbar-brand" href="#"><b>chat test</b></a>
            </div>
        </div>
    </div>

    <div class="">

        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" class="form-control" placeholder="phone" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">Remember me
                </label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>
</body>

</html>
