<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<% include header.html %>

<body>
    <link rel="stylesheet" href="http://v3.bootcss.com/examples/signin/signin.css">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header navFontSize">
                <a class="navbar-brand" href="#"><b>小马达后台管理</b></a>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登出</a></li>
                </ul>
            </li>
          </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>已举报内容</h1>
        <hr />
        <% if(result.length>0){%>
            <% result.forEach(function(element){%>
                <div class="row">
                    <h4 class="col-md-4"><%= element.content %></h4>
                    <img  width="100" src="<%= element.content_image_url%>" class="col-md-4"></img>
                    <img width="40" src="<%= element.user_face_image%>" />
                    <h5 class="col-md-2"><%= element.user_name%> </h5>
                    <button class="btn btn-danger">删除</button>
                </div>
                <hr />
            <%})%>
        <%}%>
    </div>

</body>

</html>
